.roll {
  margin: .3rem 1rem;
}
.scoreboard {
  display: inline-block;
  margin: .3rem 1rem;
}
.scoreboard thead {
  font-weight: bold;
  font-size: large;
}
.scoreboard > table {
  border: 1px solid black;
  border-collapse: collapse;
}
.scoreboard td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: .2rem
}
.current {
  font-weight: bold;
  background-color: firebrick;
  color: lavenderblush;
}
.game {
  contain: content;
}
.card {
  float: left;
}
