#app {
  background-color: rgb(243, 244, 245);
  margin: 10px;
  padding: 0.6rem;
  overflow: auto;
  position: relative;
}
h1 {
  margin: 20px 0;
}
html {
  height: 100%;
}
body {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  background-color:rgb(20, 30, 47);
}
nav {
  margin-left: 5%;
  float: right;
}
.link {
  margin: .3rem;
  display: block;
}
